.fieldset label {
    width: 50%;
    display: block;
    padding-bottom: 10px;
}

.fieldset input {
    width: 50%;
    display: block;
}

.fieldset {
    margin: 15px 0px 15px 5px;
}

.fieldset textarea {
    width: 50%;
    min-height: 200px;
    height: auto;
}
